{% extends "::admin.html.twig" %}
{% block title %}Portfolio : Administration : Activity{% endblock %}
{% block header %}<h1>Protfolio : administration : Activity</h1>{% endblock %}
{% block body %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

<div style="margin-bottom: 10px;">
    <a href="{{ path('portfolio_activity_add_admin') }}" class="btn btn-success">New</a> 
</div>
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <td>ID</td>        
        <td>Description</td>  
        <td>Active</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    {% for activity in activities %}
    <tr>
        <td><a href="{{ path('portfolio_activity_edit_admin',{'activity':activity.id}) }}">{{ activity.id }}</a></td>        
        <td><a href="{{ path('portfolio_activity_edit_admin',{'activity':activity.id}) }}">{{ activity.description }}</a></td>
        <td>
            {% if activity.active == 1 %}
                <span class="badge badge-success">Yes</span>
            {% else %}
                <span class="badge text-center">No</span>
            {% endif %}
        </td>
        <td><a href="{{ path('portfolio_activity_edit_admin',{'activity':activity.id}) }}">Edit</a></td>
        <td><a href="{{ path('portfolio_activity_delete_admin',{'activity':activity.id}) }}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}