<!DOCTYPE html>
<html>
    <head>        
        <title>{% block title %}Portfolio{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/portfolio/css/bootstrap.css') }}"  media="screen" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/portfolio/css/bootstrap-responsive.css') }}"  media="screen" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/portfolio/css/style.css') }}"  media="screen" />            
        {% endblock %}                
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div  class="container-fluid">
            <header class="page-header">
                {% block header %}
                    <h1>Protfolio</h1>
                {% endblock %}
            </header>            
            <div class="row-fluid">
                 <div class="span2 well well-large">
                     {% block nav %}
                        <ul class="nav nav-pills nav-tabs nav-stacked" >
                             <li><a href="{{ path('portfolio_homepage') }}">Accueil</a></li>
                             <li><a href="/formations">Formations</a></li>
                             <li><a href="/experience">Expériences</a></li>
                             <li><a href="/competences">Compétences</a></li>
                             <li><a href="/loisir">Compétences</a></li>
                             <li><a href="/projet">Compétences</a></li>
                         </ul>
                     {% endblock %}
                     {% block aside %}
                        aside
                     {% endblock %}
                 </div>
                 <div class="span10 well well-larg">
                     {% block body %}
                         body
                     {% endblock %}
                 </div>                     
             </div>
            <div class="clear"></div>
            <footer class="row-fluid well-small text-center">
                {% block footer %}
                    <p>Lsa FreeDev &copy; 2014</p>
                {% endblock %}
            </footer>
        </div>
            {% block javascripts %}
                
            {% endblock %}
    </body>
   
</html>
