{% extends "::admin.html.twig" %}
{% block title %}Portfolio : Administration : formations{% endblock %}
{% block header %}<h1>Protfolio : administration : Formatoion : Edit</h1>{% endblock %}
{% block body %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}
<form action="" method="post" {{ form_enctype(form) }} class="form-horizontal" >
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
    <div class="control-group">
        {# Génération du label. #}
        {{ form_label(form.school, "school",{ 'label_attr': {'class': 'control-label'} } ) }}
        <div class="controls">
            {# Affichage des erreurs pour ce champ précis. #}       
            {{ form_errors(form.school) }}
            {# Génération de l'input. #}
            {{ form_widget(form.school, {'attr':{'class':'school'} } ) }}
        </div>
    </div>
     <div class="control-group">
        {# Génération du label. #}
        {{ form_label(form.description, "description",{ 'label_attr': {'class': 'control-label'} }) }}
        <div class="controls">
            {# Affichage des erreurs pour ce champ précis. #}       
            {{ form_errors(form.description) }}
            {# Génération de l'input. #}
            {{ form_widget(form.description) }}
        </diV>
    </div>
     <div class="control-group">
        {# Génération du label. #}
        {{ form_label(form.startdate, "startdate",{ 'label_attr': {'class': 'control-label'} }) }}
        <div class="controls">
            {# Affichage des erreurs pour ce champ précis. #}       
            {{ form_errors(form.startdate) }}
            {# Génération de l'input. #}
            {{ form_widget(form.startdate) }}
        </div>
    </div>
    <div class="control-group">
        {# Génération du label. #}
        {{ form_label(form.enddate, "enddate",{ 'label_attr': {'class': 'control-label'} }) }}
        <div class="controls">
            {# Affichage des erreurs pour ce champ précis. #}       
            {{ form_errors(form.enddate) }}
            {# Génération de l'input. #}
            {{ form_widget(form.enddate) }}
        </div>
    </div>
    <div class="control-group">
        {# Génération du label. #}
        {{ form_label(form.active, "active",{ 'label_attr': {'class': 'control-label'} }) }}
        <div class="controls">
            {# Affichage des erreurs pour ce champ précis. #}       
            {{ form_errors(form.active) }}
            {# Génération de l'input. #}
            {{ form_widget(form.active) }}
        </div>
    </div>    
    <div class="control-group">
         <div class="controls">
            {{ form_rest(form) }}    
            {# {{ form(form) }} #}
            <input type="submit" name="edit" value="Edit" id="edit" class="btn btn-warning" >
         </div>
    </div>
</form>
{% endblock %}