{% extends "::admin.html.twig" %}
{% block title %}Portfolio : Administration : Skill{% endblock %}
{% block header %}<h1>Protfolio : administration : Skill</h1>{% endblock %}
{% block body %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

<div style="margin-bottom: 10px;">
    <a href="{{ path('portfolio_skill_add_admin') }}" class="btn btn-success">New</a> 
</div>
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <td>ID</td>
        <td>Skill</td>               
        <td>Level</td>  
        <td>Active</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    {% for skill in skills %}
    <tr>
        <td><a href="{{ path('portfolio_skill_edit_admin',{'skill':skill.id}) }}">{{ skill.id }}</a></td>
        <td><a href="{{ path('portfolio_skill_edit_admin',{'skill':skill.id}) }}">{{ skill.skill }}</a></td>
        <td><a href="{{ path('portfolio_skill_edit_admin',{'skill':skill.id}) }}">{{ skill.level }}</a></td>
        <td>
            {% if skill.active == 1 %}
                <span class="badge badge-success">Yes</span>
            {% else %}
                <span class="badge text-center">No</span>
            {% endif %}
        </td>
        <td><a href="{{ path('portfolio_skill_edit_admin',{'skill':skill.id}) }}">Edit</a></td>
        <td><a href="{{ path('portfolio_skill_delete_admin',{'skill':skill.id}) }}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}