{% extends "::admin.html.twig" %}
{% block title %}Portfolio : Administration : City{% endblock %}
{% block header %}<h1>Protfolio : administration : City : Edit</h1>{% endblock %}
{% block body %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}
<form action="" method="post" {{ form_enctype(form) }} class="form-horizontal" >
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
    <div class="control-group">
        {# Génération du label. #}
        {{ form_label(form.city, "City",{ 'label_attr': {'class': 'control-label'} } ) }}
        <div class="controls">
            {# Affichage des erreurs pour ce champ précis. #}       
            {{ form_errors(form.city) }}
            {# Génération de l'input. #}
            {{ form_widget(form.city, {'attr':{'class':'city'} } ) }}
        </div>
    </div>     
    <div class="control-group">
         <div class="controls">                    
            <a href="{{ path('portfolio_city_admin') }}" class="btn btn-primary" style="margin-right: 126px;" >Back</a>
            {{ form_rest(form) }}    
            {# {{ form(form) }} #}   
            <input type="submit" name="edit" value="Edit" id="edit" class="btn btn-warning" >
         </div>         
    </div>
</form>
{% endblock %}